{% extends 'base.html' %}

{% block content %}
  <h2>All Tasks</h2>
  <a href="{% url 'core:create-task' %}">Create Task</a>
  <ul>
    {% for task in task_list %}
      <li>
        <strong>Task: {{ task.task_name }}</strong><br>
        Description: {{ task.description }}<br>
        Deadline: {{ task.deadline }}<br>
        Responsible: {{ task.responsible }}
        {% if task.assignees.count == 0 %}
          <form method="post" action="{% url 'core:take-task' task.id %}">
            {% csrf_token %}
            <input type="submit" value="Take Task">
          </form>
        {% endif %}
        {% if task.assignees.count == 1 and task.assignees.first.id == user.id %}
          {% if not task.done_at %}
            <form method="post" action="{% url 'core:mark-as-done' task.id %}">
              {% csrf_token %}
              <input type="submit" value="Mark as Done">
            </form>
          {% endif %}
        {% endif %}
        {% if task.done_at %} <br>
          Task done at: {{ task.done_at }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}