{% extends 'base.html' %}

{% block content %}
  <div class="d-flex mb-4 justify-content-between align-items-center">
    <h2 class="text-center">All Tasks</h2>
    <a href="{% url 'core:create-task' %}" class="btn btn-primary float-right">Create Task</a>
  </div>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col" class="text-center">Project</th>
        <th scope="col" class="text-center">Task Name</th>
        <th scope="col" class="text-center">Description</th>
        <th scope="col" class="text-center">Deadline</th>
        <th scope="col" class="text-center">Responsible</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in task_list %}
        <tr>
          <td class="text-center">
            <a href="{% url 'core:project-detail' pk=task.project.id %}">{{ task.project.project_name }}</a>
          </td>
          <td class="text-center"><strong>{{ task.task_name }}</strong></td>
          <td class="text-center">{{ task.description }}</td>
          <td class="text-center">{{ task.deadline }}</td>
          <td class="text-center">
            {% for assignee in task.assignees.all %}
              {{ assignee.first_name }} {{ assignee.last_name }}, "{{ assignee.username }}"
              {% if not forloop.last %},{% endif %}
            {% endfor %}
          </td>
          <td class="text-center">
            {% if task.is_completed %}
              Done at: {{ task.done_at }}
            {% else %}
              In Progress
            {% endif %}
          </td>
          {% if user.position.name == "Project Manager" or user in task.assignees.all %}
            <td class="text-center">
              <a href="{% url 'core:task-update' pk=task.id %}" class="btn btn-warning">Update</a>
              <a href="{% url 'core:task-delete' pk=task.id %}" class="btn btn-danger">Delete</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
