{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Welcome, {{ user.username }}!</title>
{% endblock %}

{% block content %}
  <div class="home-page d-flex align-items-center justify-content-between">
   <img src="{% static 'images.jpg' %}" class="img-fluid" alt="...">

    <div class="home-page__text d-flex flex-column justify-content-center hero-section__text">
      <h2 class="text-center">Welcome, {{ user.username }}!</h2>

      <p class="text-center">Thank you for using our task management system. Here are some details about your tasks:</p>

      <ul>
        <li class="text-center">Total tasks: {{ all_tasks }}</li>
        <li class="text-center">Completed tasks: {{ completed_tasks_count }}</li>
        <li class="text-center">Incomplete tasks: {{ incompleted_tasks_count }}</li>
      </ul>

      <p class="text-center">
        Our project aims to provide a user-friendly task management experience. Feel free to explore your user profile
        to view and manage your tasks efficiently.
      </p>

      <p class="text-center">
        If you have any feedback or suggestions, please don't hesitate to reach out. We appreciate your use of our
        platform and hope it enhances your productivity!
      </p>
    </div>
  </div>
{% endblock %}
