{% extends 'base.html' %}

{% block content %}
  <h2>My Tasks</h2>
  <p>Completed Tasks: {{ completed_tasks_count }}</p>
  <ul>
    {% for task in task_list %}
      <li>
        {% if task.is_completed %}
          {{ task.task_name }} - {{ task.description }} - {{ task.get_priority_display }}
        {% else %}
          {{ task.task_name }} (Incomplete)
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>Incomplete Tasks: {{ incomplete_tasks_count }}</p>
  <ul>
    {% for task in task_list %}
      {% if not task.is_completed %}
        <li>{{ task.task_name }} - {{ task.description }} - {{ task.get_priority_display }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
