{% extends 'base.html' %}

{% block content %}
  {% if completed_tasks_count is not None %}
    <p>Completed Tasks: {{ completed_tasks_count }}</p>
  {% else %}
    <p>No completed tasks</p>
  {% endif %}
  <ul>
    {% for task in task_list %}
      <li>
        {% if task.is_completed %}
          {{ task.description }} <br>Done at: {{ task.done_at }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>Incomplete Tasks: </p>
  <ul>
    {% for task in task_list %}
      {% if not task.is_completed %}
        <li>
          {{ task.task_name }} - {{ task.description }} - {{ task.get_priority_display }}
          {% if user in task.assignees.all %}
            <form method="post" action="{% url 'core:mark-as-done' task.id %}">
              {% csrf_token %}
              <input type="submit" value="Mark as Done" class="btn btn-info">
            </form>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
