{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1 class="text-center">Our Team Members</h1>

  {% if team_members %}
    <div class="row">
      {% for member in team_members %}
        <div class="col-md-6 mb-4">
          <div class="card" style="width: 100%;">
            <img src="{% static 'avatar.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ member.username }}</h5>
              <p class="card-text">Let's introduce our {{ member.first_name }} {{ member.last_name }} on
                {{ member.position.name|default:"Not assigned" }} position!</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No team members available.</p>
  {% endif %}

  <a href="{% url 'core:worker-create' %}" class="btn btn-success float-right mt-3">Create New</a>

{% endblock %}
