{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-center mb-4">Confirm Project Deletion</h2>

    <p class="lead">Are you sure you want to delete the project "{{ project.project_name }}"?</p>

    <form method="post" action="{% url 'core:project-delete' project.id %}" class="form">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="mt-4">
        <button type="submit" class="btn btn-danger">Delete Project </button>
        <a href="{% url 'core:project-detail' project.id %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
