{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-center mb-0">Project List</h2>
    <a href="{% url 'core:project-create' %}" class="btn btn-primary">Create Project</a>
  </div>

  {% if project_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">Project Name</th>
          <th scope="col" class="text-center">Description</th>
          <th scope="col" class="text-center">Deadline</th>
          <th scope="col" class="text-center">Created at</th>
          <th scope="col" class="text-center">Done at</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project in project_list %}
          <tr>
            <td class="text-center">
              <a href="{% url 'core:project-detail' pk=project.id %}">
                <strong>{{ project.project_name }}</strong>
              </a>
            </td>
            <td class="text-center" data-toggle="tooltip" data-placement="top" title="{{ project.description }}">
              {% with limited_description=project.description|truncatechars:50 %}
                {{ limited_description }}
              {% endwith %}
            </td>
            <td class="text-center">{{ project.deadline }}</td>
            <td class="text-center">{{ project.created_at }}</td>
            <td class="text-center">
              {% if project.done_at %}
                {{ project.done_at }}
              {% else %}
                <span class="badge badge-warning"> IN PROGRESS </span>
              {% endif %}
            </td>
            {% if user.position.name == "Project Manager"  %}
              {% if user in project.assignees.all %}
                <td class="text-center d-grid gap-2">
                  <a href="{% url 'core:project-update' pk=project.id %}" class="btn btn-warning">Update</a>
                  <a href="{% url 'core:project-delete' pk=project.id %}" class="btn btn-danger">Delete</a>
                </td>
              {% endif %}
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="text-center">No projects available.</p>
  {% endif %}

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}
