{% extends "base.html" %}

{% block content %}
    <h1>Search Results</h1>
    <form method="get" action="{% url 'core:search' %}">
      <label>
        <input type="text" name="q" value="{{ request.GET.q }}" />
      </label>
      <input type="submit" value="Search" />
    </form>

    {% for result in results %}
        <div>
            <h2><a href="{{ result.object.get_absolute_url }}">{{ result.object.task_name }}</a></h2>
            <p>{{ result.object.description|truncatewords:50 }}</p>
        </div>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
{% endblock %}
