{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1>User Profile: {{ user.username }}</h1>
    <div class="row mt-4">
      <div class="col-md-6">
        <h2>Completed Tasks</h2>
        <ul class="list-group">
          {% for task in completed_tasks %}
            <li class="list-group-item">
              <strong>Task:</strong> {{ task.task_name }}<br>
              <strong>Description:</strong> {{ task.description }}<br>
              <strong>Deadline:</strong> {{ task.deadline }}<br>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Incomplete Tasks</h2>
        <ul class="list-group">
          {% for task in incomplete_tasks %}
            <li class="list-group-item">
              <strong>Task:</strong> {{ task.task_name }}<br>
              <strong>Description:</strong> {{ task.description }}<br>
              <strong>Deadline:</strong> {{ task.deadline }}<br>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
