body {
  min-height: 100vh;
}

html {
  height: 100vh;
  background-color: #6f94c6;
}

.home-page {
  width: 100%;
  height: calc(100vh - 140px);
}

.home-page__text {
  margin-left: 40px;
}

.sidebar .nav-link:hover {
  text-decoration: underline;
}
