<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="nav-link" href="{% url 'core:index' %}">Home page</a>
    <span class="badge badge-primary badge-pill"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="nav-link" href="{% url 'core:project-list' %}">Projects</a>
    <span class="badge badge-primary badge-pill"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="nav-link" href="{% url 'core:my-tasks' %}">My tasks</a>
    <span class="badge badge-primary badge-pill"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="nav-link" href="{% url 'core:all-tasks' %}">All tasks</a>
    <span class="badge badge-primary badge-pill"> {{ all_possible_tasks }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="nav-link" href="{% url 'core:our-teams' %}">Our Team</a>
    <span class="badge badge-primary badge-pill"></span>
  </li>
  <li>
    {% if user.is_authenticated %}
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <li class="nav-item">User: <a class="nav-link" href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="nav-item">
      <input type="submit" class="nav-link btn btn-link" value="Logout">
    </li>
  </form>
{% else %}
  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
{% endif %}
  </li>
</ul>