<nav class="sidebar-nav navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'core:index' %}">Task Manager</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav flex-column">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'core:index' %}">Home page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:my-tasks' %}">My tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:all-tasks' %}">All tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:our-teams' %}">Our Team</a>
      </li>

{% if user.is_authenticated %}
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <li class="nav-item">User: <a class="nav-link" href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="nav-item">
      <input type="submit" class="nav-link btn btn-link" value="Logout">
    </li>
  </form>
{% else %}
  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
{% endif %}
    </ul>
  </div>
</nav>
